 <!-- footer  -->
  <footer id="footer">
    <div class="contact">
      <h1>Contact details</h1>
      <div class="contact-data">
        <div class="address"><i class="fa-solid fa-location-dot"></i>Sahiwal, Punjab, Pakistan</div>
        <div class="mail"><i class="fa-regular fa-envelope"></i>rehman*****@gmail.com</div>
        <div class="number"><i class="fa-solid fa-phone"></i>+92 326 3470109</div>
      </div>
    </div>


    <div class="navigation">
      <h1>Navigation</h1>
      <div class="nav-data">
        <a href="#">Home</a>
        <a href="#">Projects</a>
        <a href="#">Weather</a>
        <a href="#">About Me</a>
      </div>
    </div>

    <div class="message" data-tilt>
      <h1>Message Me</h1>
      <div class="msg-data">
        <form action="#">
          <div>
            <label for="data">Message</label>
            <div class="input">
              <input type="text" id="data">
              <button  title="send" type="submit"><i class="fa-regular fa-paper-plane"></i></button>
            </div>
          </div>

        </form>
      </div>
    </div>

    <div class="float">
      <i class="fa-regular fa-comment"></i>
    </div>
  </footer>