<header class="header" id="header">
    <div class="logo" id="logo">
        <img src="imges-icons/press start.svg" alt="Logo">
    </div>
    <ion-icon name="menu-outline" id="toggle"></ion-icon>
    <nav>
        <div id="home_link">Home</div>
        <div>Projects</div>
        <div id="weather_link">Weather</div>
        <div>About Me</div>
    </nav>
</header>
